@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --brand-dark: #4b2615;
  --brand-medium: #643f2e;
  --brand-darker: #4a2514;
  --brand-deep: #512d1d;

  --brand-light: #f3f3f3;
  --brand-lighter: #f6f7f7;
  --brand-white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-brand-dark: var(--brand-dark);
  --color-brand-medium: var(--brand-medium);
  --color-brand-darker: var(--brand-darker);
  --color-brand-deep: var(--brand-deep);

  --color-brand-light: var(--brand-light);
  --color-brand-lighter: var(--brand-lighter);
  --color-brand-white: var(--brand-white);

  /* Fonts */
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(6px); }
  to   { opacity: 1; transform: translateY(0); }
}
